<h1>BurgerRama!</h1>




{{#each burger}}


{{/each}}



<div width ="100px" class="input-group">
  <span class="input-group-text">enter in burger</span>
  <textarea class="burgerText" aria-label="With textarea"></textarea>
</div>
<button id="button">Submit</button>



